body{
	margin: 0em 2em 2em 2em;
}
p{
	font-family: arial;
	font-size: 22px;
}
h1{
	font-family: arial;
}

figure{
	margin: 0;
}

figure.einzel{
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 10px;
	border: 1px solid gainsboro;
	background: white;
	width:auto;
	height:auto;
}

figcaption {
  padding: 10px;
  text-align: center;
  width: auto;
}

.right{
	float: right;
}